* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
    background: rgb(248, 238, 224);
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrap {
    max-width: 500px;
    background: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 24px;
    border-radius: 8px;
}

@media screen and (max-width: 576px) {
    .form-wrap {
        max-width: 95%;
    }
}

.form-wrap .form-heading {
    font-size: 32px;
    text-align: center;
    padding-bottom: 24px;
    border-bottom: 1px solid #ccc;
}

.form-wrap .login-form {
    margin-top: 24px;
}

.form-wrap .form-input {
    margin-bottom: 24px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 12px 24px;
    font-size: 18px;
    color: #1f1f1f;
    width: 100%;
    background: #eeeeee;
}

.form-wrap .form-input:focus {
    outline: none;
    border-bottom: 1px solid #333;
}

.form-wrap .form-submit {
    width: 100%;
    padding: 16px 24px;
    font-size: 20px;
    background: rgb(102, 132, 196);
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.form-wrap .form-desc {
    margin-top: 12px;
    font-size: 16px;
    text-align: center;
    color: #292929;
}